*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:giroy;
    color: #fff;
}
html,body{
    height:100%;
    width:100%;
}

.cursor{
    opacity: 0.9;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #EDBFFF;
    position: fixed;
    z-index:8;
    transition: backgroud-image ease 0.5s;
    background-position: center;
    background-size: cover;
    mix-blend-mode: difference;
}
#purple{
    cursor: none;
    height: 100vh;
    width: 100%;
    opacity: 0;
    background-color: #e29efd;
    z-index: 90;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-weight: 700;
}
.main{
    background-color:#0f0d0d ;
    cursor: none;
}
.page1{
    min-height:100vh;
    width: 100%;
    z-index:9;
    position: relative;
    padding-top: 8vw;
}
#nav{   
    cursor: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:55px;
    width:100%;
    padding: 0 30px;
    mix-blend-mode: difference;
    z-index:90;
}
#nav img{
    height: 24px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#nav-part2 h4:hover{
    scale:1.24;
}
#nav-part3 #circle{
      height: 20px;
      width:20px;
      border-radius:50%;
      background-color: #fff;
}
#nav h4{
    font-size:13px;
    font-weight: 500;
    text-transform:uppercase;
}
#nav-part2 .line{
    border-bottom: 1.5px solid #fff;
}
.page1 h1{
    font-size:7vw;
    font-weight: 300;
    font-family:PP mori;

    margin-left:6vw;
}
.page1 h2{
    margin-left:26vw;
    font-size:7vw;
    font-weight: 300;
    font-family:'PP mori';
}
.page1 video{
    width:60%;
    margin-top: 10vw;
    position: relative;
    left:20%;
}
.page2{
    z-index:9;
    position: relative;
    min-height: 80vh;
    width:100%;
    padding:125px 65px;
    border-bottom: 2px solid #5c5858;
}
.page2 h1{
    font-size: 7vw;
    font-weight: 540;
    color: #111;
}
.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page2-left{
    width: 30%;
}
.page2-left h2{
    line-height: 3vw;
    font-size: 35px;
    color: #111;
}
.page2-right{
    width: 30%;
}
.page2-right p{
    font-size: 24px;
    font-weight: 400;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
}
.page3{
    z-index:9;
    position: relative;
    min-height: 140vh;
    width:100%;
    padding: 50px;

}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color:#111;
    margin-left: 100px 0;
}

.page3-part1{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3-part1 img{
    position: relative;
    height: 350px;
    top:250px;
    margin-bottom:100px;

}
.page3-part1 video{
    height: 400px;
}
.page4{
    padding-top: 60px;
    min-height: 45vw;
    width:100%;
    z-index:9;
    position: relative;
}

.elem{
    position: relative;
    height:100px;
    width: 86%;
    margin:0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elem img{
    height: 200px;
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 17vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size:6vw;
    transition: all ease-out 0.5s;
}
.elem:hover h1{
    transform: translateY(-100%);
    color:#d57ff7;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}

.page5{
    min-height:50vw;
    width:100%;
    z-index:7;
    position: relative;
    padding: 100px 100px;
}

.page5 h2{
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 30px;
}
.page5 .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0px;
    border-top:2px solid #fff;
}
.page5 :nth-last-child(1){
    border-bottom: 2px solid #fff;
}
#foot{
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foot div{
    font-size: 1.3vw;
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 10px 20px;
}
#foot div a{
    text-decoration: none;
}
#foot div:hover{
    background-color: #fff;
    border: 2px solid #111;
}
#foot div:hover a{
    color: #0f0d0d;
}